n8n_advanced_agent.json
{
    "name": "Advanced Voice Sales Agent (SAP + RAG)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "webhook/voice",
                "options": {}
            },
            "name": "Twilio Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-trigger"
        },
        {
            "parameters": {
                "mode": "json",
                "json": "={\n  \"callSid\": \"{{$json.body.CallSid}}\",\n  \"caller\": \"{{$json.body.From}}\",\n  \"speech\": \"{{$json.body.SpeechResult}}\",\n  \"status\": \"{{$json.body.CallStatus}}\"\n}"
            },
            "name": "Format Input",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "format-input"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.status}}",
                            "operation": "contains",
                            "value2": "completed"
                        }
                    ]
                }
            },
            "name": "Is Call Over?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "check-status"
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {
                    "systemMessage": "=You are Sarah, a helpful sales agent for US Food Supplies.\n\nCONTEXT:\nCaller: {{$node[\"Format Input\"].json.caller}}\n\nINSTRUCTIONS:\n1. If this is a new call (no speech history), greet them warmly. Ask if they are the manager.\n2. If they ask about products, use the 'check_inventory' tool.\n3. If they want to order, use the 'create_order' tool. CONFIRM the order #.\n4. If they ask policy questions (shipping, returns), use the 'shipping_policy' tool.\n5. Keep responses short and conversational (suited for voice).\n\nCurrent Input: {{$node[\"Format Input\"].json.speech}}"
                }
            },
            "name": "AI Sales Agent",
            "type": "@n8n/n8n-nodes-langchain.chainOpenAi",
            "typeVersion": 1.4,
            "position": [
                900,
                150
            ],
            "id": "ai-agent",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "name": "check_inventory",
                "description": "Checks stock and price for a product. Input: product_name",
                "workflowId": "sap-inventory-subworkflow"
            },
            "name": "Tool: Inventory",
            "type": "n8n-nodes-base.workflowTool",
            "typeVersion": 1,
            "position": [
                900,
                400
            ],
            "id": "tool-inventory"
        },
        {
            "parameters": {
                "name": "create_order",
                "description": "Creates a new SAP order. Input: product_id, quantity, customer_id",
                "workflowId": "sap-order-subworkflow"
            },
            "name": "Tool: Create Order",
            "type": "n8n-nodes-base.workflowTool",
            "typeVersion": 1,
            "position": [
                1050,
                400
            ],
            "id": "tool-order"
        },
        {
            "parameters": {
                "name": "shipping_policy",
                "description": "Answers questions about shipping, returns, and delivery times.",
                "topK": 3
            },
            "name": "Tool: Policy RAG",
            "type": "@n8n/n8n-nodes-langchain.vectorStoreTool",
            "typeVersion": 1,
            "position": [
                1200,
                400
            ],
            "id": "tool-rag"
        },
        {
            "parameters": {
                "functionCode": "const responseText = items[0].json.text;\nconst callSid = $('Format Input').item.json.callSid;\n\n// Generate TwiML\nconst xml = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Gather input=\"speech\" action=\"YOUR_WEBHOOK_URL\" timeout=\"2\">\n    <Say voice=\"alice\">${responseText}</Say>\n  </Gather>\n</Response>`;\n\nreturn { json: { body: xml, headers: { 'Content-Type': 'text/xml' } } };"
            },
            "name": "Generate TwiML",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1300,
                150
            ],
            "id": "gen-twiml"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{$json.body}}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/xml"
                            }
                        ]
                    }
                }
            },
            "name": "Respond to Twilio",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1500,
                150
            ],
            "id": "respond-webhook"
        },
        {
            "parameters": {
                "content": "=Call Summary & Sentiment: \n{{$json.sentiment}}\n\nTranscript:\n{{$json.transcript}}",
                "channel": "sales-alerts"
            },
            "name": "Slack Alert (Post-Call)",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                900,
                -100
            ],
            "id": "slack-alert"
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "content": "=Analyze this call transcript. \n1. Determine sentiment (Positive/Negative).\n2. Summarize key action items.\n\nTranscript:\n{{$json.transcript}}"
                        }
                    ]
                }
            },
            "name": "Analyze Sentiment",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                700,
                -100
            ],
            "id": "analyze-sentiment"
        }
    ],
    "connections": {
        "Twilio Webhook": {
            "main": [
                [
                    {
                        "node": "Format Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Input": {
            "main": [
                [
                    {
                        "node": "Is Call Over?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Call Over?": {
            "main": [
                [
                    {
                        "node": "Analyze Sentiment",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI Sales Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Sales Agent": {
            "main": [
                [
                    {
                        "node": "Generate TwiML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate TwiML": {
            "main": [
                [
                    {
                        "node": "Respond to Twilio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Sentiment": {
            "main": [
                [
                    {
                        "node": "Slack Alert (Post-Call)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Inventory": {
            "ai_tool": [
                [
                    {
                        "node": "AI Sales Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Create Order": {
            "ai_tool": [
                [
                    {
                        "node": "AI Sales Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Policy RAG": {
            "ai_tool": [
                [
                    {
                        "node": "AI Sales Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    }
}